NODE_ENV=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
redis_host=
redis_port=
sessionSecret=
jwtSecret=
mail_pass=
mail_host=
mail_port=
mail_service=
mail_user=
clientDomain=
treblleApiKey=
treblleProjectId=